.heading {
    p {
        font-family: var(--font-albert);
        font-size: 38px;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 28px;

        &::after {
            content: '';
            width: 250px;
            height: 3px;
            background: var(--primary-violet);
            display: block;
            border-radius: 20px;
        }
    }
}