.portpolio-main-container {
    padding-top: 4%;
}

.column-bg {
    width: 100%;
    height: 100%;
    padding: 4%;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--bg-shadow);
}

.column-bg-nav {
    width: fit-content;
    height: fit-content;
    padding: 1%;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--bg-shadow);
}