.heading-experience {
    p {
        font-family: var(--font-albert);
        font-size: 38px;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 28px;

        &::after {
            content: '';
            width: 250px;
            height: 3px;
            background: var(--primary-green);
            display: block;
            border-radius: 20px;
        }
    }
}

.experience-main-component {
    column-gap: 12px;
    padding: 12px;
    width: 100%;
    height: fit-content;
    background: whitesmoke;
    border-radius: 15px;

    .experience-title-container {
        width: 30%;
        height: fit-content;
        background: var(--white);
        border-radius: 15px;

        .experience-each-title {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            font-family: var(--font-albert);
            cursor: pointer;
        }

        .experience-each-title:nth-child(1) {
            &.exptitle-active {
                background: var(--primary-blue);
                color: var(--white);
                border-radius: 15px;
            }
        }

        .experience-each-title:nth-child(2) {
            &.exptitle-active {
                background: var(--primary-violet);
                color: var(--white);
                border-radius: 15px;
            }
        }

        .experience-each-title:nth-child(3) {
            &.exptitle-active {
                background: var(--primary-green);
                color: var(--white);
                border-radius: 15px;
            }
        }
    }

    .experience-points-description-con {
        width: 70%;
        height: fit-content;
        background: var(--white);
        border-radius: 15px;
        padding: 12px;
        
        .experience-technology {
            width: fit-content;
            height: fit-content;
            padding: 12px 16px;
            background: lightgray;
            border-radius: 15px;
            color: var(--black);
            font-size: 18px;
            font-family: var(--font-albert);
            font-weight: 700;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 18px;
        }

        .experience-year {
            width: fit-content;
            height: fit-content;
            padding: 12px 16px;
            background: #1e954130;
            border-radius: 15px;
            color: var(--black);
            font-size: 18px;
            font-family: var(--font-albert);
            font-weight: 700;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 18px;
            border: 1px solid var(--primary-green);
        }

        .each-exp-eachpoints-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            column-gap: 12px;
            font-size: 16px;
            font-family: var(--font-albert);
            color: var(--black);
            margin-bottom: 26px;
            text-align: left;
        }

        .each-experience-points-con:nth-child(1) {
            &.exp-points-active {
                i {
                    color: var(--primary-blue);
                }
            }
        }

        .each-experience-points-con:nth-child(2) {
            &.exp-points-active {
                i {
                    color: var(--primary-violet);
                }
            }
        }

        .each-experience-points-con:nth-child(3) {
            &.exp-points-active {
                i {
                    color: var(--primary-green);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .heading-experience {
        p {
            font-size: 24px !important;
        }
        
    }

    .experience-main-component {
        flex-direction: column;
        row-gap: 12px;
    }

    .experience-title-container {
        width: 100% !important;
        display: flex;

        .experience-each-title {
            height: 37px !important;
            font-size: 13px !important;
        }
    }

    .experience-points-description-con {
        width: 100% !important;

        .experience-technology {
            font-size: 14px !important;
            padding: 6px 12px !important;
        }

        .experience-year {
            font-size: 12px !important;
            padding: 4px 12px !important;
        }

        .each-exp-eachpoints-container {
            font-size: 12px !important;
            margin-bottom: 8px !important;

            i {
                font-size: 12px !important;
            }
        }
    }
}